<div>
  <label for="txtTodoitem">待辦事項:
    <span>
      <input id="txtTodoitem" type='text' placeholder="請輸入待辦事項"
      (keydown.enter)="clearCheckMessage();addItem()"
      [(ngModel)]="inputDesc">
    </span>
  </label>
  <button (click)="clearCheckMessage();addItem()">加入</button>
  <div *ngIf="checkMessage!==''" [ngClass]="'alertText'">{{checkMessage}}</div>
  <div>
    <button (click)="clearItem()">清空所有待辦事項</button><button (click)="readDefaultTodoItem()">載入預設的待辦事項</button><br>
    <button (click)="setItemState(true)">將所有的待辦事項設定為完成</button><button (click)="setItemState(false)">將所有的待辦事項設定為進行中</button><br>

  </div>
  <table [border]="1">
    <tr style="background-color: lightgrey;"><td>完成</td><td>序號</td><td>待辦事項</td><td>刪除</td></tr>
    <tr *ngFor="let item of todoitems">
      <td><input type="checkbox"
        [id]="item.id"
        [checked]="item.isCompelete"
        (change)="updateItemState(item.id,!item.isCompelete)"><!--id是要給label for用的--></td>
      <td>{{item.id}}</td>
      <td><label [htmlFor]="item.id">{{item.itemDesc}} </label> </td>
      <td><button (click)="removeItem(item)">移除</button></td>
    </tr>
  </table>
  已完成：{{getCompeleteItemCount()}}
  進行中：{{getProcessingItemCount()}}
</div>
